@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import './variables.css';

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: 'VT323', cursive;
  font-size: 40px;
}

.crt-content {
  z-index: 1;
}