@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import './variables.css';

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: 'Press Start 2P', cursive;
  font-size: 18px;
}

.crt-content {
  z-index: 1;
}